body{

    height:100%;
    display: block;
    position: relative;
    background-image: url(./img/quizz.png);

    
    background-repeat: no-repeat;
    background-position: 50% -10%;
   background-size: 60%;

}

.form{
    margin-top: 200%;
}